<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<ol>
    {{range $env,$envinfo := .}}
    {{range $dirName,$files := $envinfo}}
    <li>
    {{range $file := $files }}
    {{if contains $file ".jpg"}}
    <div><img src="/image?id={{.|urlquery}}" style="max-width:100%;overflow:hidden;"></div>
    {{else}}
    <p id="result.json">{{.|html}}<p>
    {{end}}
    {{end}}
    </li>
    {{end}}
    {{end}}
</ol>

</body>

<script>
    var text = document.getElementById('result.json').innerText; //获取json格式内容
    var result = JSON.stringify(JSON.parse(text), null, 2);//将字符串转换成json对象

    document.getElementById('out_pre').innerText = result;

    function del(imgName) {
        if (imgName == "") {
            console.log("图片名称不能为空");
            return;
        }
        console.log(imgName)
        var data = {
            name: imgName
        };

        $.get('/del', {
            name: imgName
        }, function (data) {
            console.log(data)
        })
    }

</script>


</html>