<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        div {
            margin: 20px 20px;
            padding: 20px 20px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
<ol>
    {{range $env,$envinfo := .}}
        {{range $dirInfo := $envinfo}}
            <li>
                <p>{{$dirInfo.DirName|html}}<p><div class="">
            {{range $file := $dirInfo.Files }}
                {{if contains $file ".jpg"}}
                <img src="/image?id={{$file|urlquery}}" style="max-width:100%;overflow:hidden;">
                    {{else}}
                <p id="result.json">{{$file|html}}<p>
                {{end}}
            {{end}}
            </div></li>
        {{end}}
    {{end}}
</ol>

</body>

<script>
    var text = document.getElementById('result.json').innerText; //获取json格式内容
    var obj = JSON.stringify(JSON.parse(text), null, 3); //将字符串转换成json对象

    // 2. 带高亮的输出
    function highLight(json){
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }

    document.getElementById('result.json').innerHTML = highLight(str);

</script>


</html>