<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <ol>
        {{range $.images}}
            <li>
                <img src="/view?id={{.|urlquery}}" width="200px" height="100px"></img>
                <!-- <a href="/view?id={{.|urlquery}}">{{.|html}}</a> -->
            </li>
        {{end}}
    </ol>

</body>

<script>

    function del(imgName) {
        if(imgName == "") {
            console.log("图片名称不能为空");
            return;
        }
        console.log(imgName)
        var data = {
            name: imgName
        };

        $.get('/del', {
            name: imgName
        }, function(data) {
            console.log(data)
        })
    }

</script>
</html>